<template>
  <v-container>
    <v-data-table
      :headers="camposVisible"
      :items="libros"
      :hide-default-footer="true"
      @page-count="$emit('pagination', $event)"
      class="grey lighten-2 elevation-26"
    >
      <template v-slot:top>
        <v-toolbar class="grey lighten-2" flat>
          <v-toolbar-title>
            <h1 class="headline font-weight-bold grey--text text--darken-3">
              {{ titulo }}
            </h1>
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import LibroService from "../services/libro.service";
export default {
  data() {
    return {
      titulo: "Libros",
      libros: [],
      camposVisible: [
        {
          text: "id",
          align: "left",
          sortable: false,
          value: "id",
          see: true,
        },
        { text: "Nombre", value: "nombre", see: true },
        { text: "Autor", value: "autor", see: true },
        { text: "Precio", value: "precio", see: true },
        { text: "Stock", value: "stock", see: true },
        { text: "Pagina", value: "pagina.nombre", see: true },
      ],
    };
  },
  mounted() {
    this.listarLibros();
  },
  methods: {
    listarLibros: async function () {
      const hola = await LibroService.getListarLibros();
      this.libros = await hola.data;
      console.log(this.libros);
    },
  },
};
</script>