<template>
  <div class="mb-2">
    <v-app-bar app dark>
        <v-toolbar-title>TodoLibros</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text to="/libros">libros</v-btn>
        </v-toolbar-items>

    </v-app-bar>
  </div>
</template>>

<script>
export default {
  data: () => ({
  }),
  computed: {
  },
  methods: {
  },
  components: {},
};
</script>