<template>
  <v-app>
    <v-main>
      <Toolbar/>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>


export default {
  name: 'App',
  components: {
    Toolbar: () => import("@/components/Toolbar"),
  },
};
</script>
